
.order-info-row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.info-card {
  flex: 1;
  background-color: #fff;
  border: 1px solid #F93A014D;
  border-radius: 8px;
  padding: 16px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
}

.info-item:last-child {
  border-bottom: none;
}

.info-label {
  font-weight: 500;
  color: #666;
}

.info-value {
  font-weight: 500;
  color: #333;
}
/* Add these styles to your InfoCard.css file */
.info-value.email {
  color: #F93A01;
  text-decoration: underline;
}

.info-value.phone {
  color: #F93A01;
  font-weight: 500;
}

.info-value.email:hover {
  color: #e03000;
}